{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>            
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 1px;
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
  }
  
  .logo img {
    max-height: 100px;
  }
  
  .company-info h2 {
    margin: 0;
    font-size: 2em;
  }
  
  .company-info p {
    margin: 0;
    line-height: 1.5;
  }
  
  .i.invoice-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .invoice-box h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .invoice-details p, .client-details p {
    margin: 5px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #th {
    background-color: #f2f2f2;
    color: black;
  }
  
  .invoice-total {
    margin-top: 20px;
    text-align: right;
  }
  
  .invoice-total p {
    margin: 5px 0;
  }
  
  footer {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 20px;
  }
  
  footer p {
    margin: 5px 0;
  }
 
  .dropdown-item:hover{
       color: chocolate;
     }
  
     ::-webkit-scrollbar{
    display: none;
  }

  .saleordertable {
            border-collapse: collapse; /* Collapse table borders */
            border: none; /* Remove table border */
        }

        .saleordertable  td {
            border: none; /* Remove cell borders */
            padding: 8px; /* Add padding for cell content */
            text-align: left; /* Optional: Adjust text alignment */
        }
  #producttable {
            border-collapse: collapse; /* Collapse table borders */
            border: none; /* Remove table border */
            color: white;
        }

        #producttable  td {
            border: none; /* Remove cell borders */
            padding: 8px; /* Add padding for cell content */
            text-align: left; /* Optional: Adjust text alignment */
        }

        tr.clickable {
            cursor: pointer;
        }


        @media print{
        body{
            visibility: hidden !important; /* hide everything in body when in print mode*/
        }

        .printContainer {
            visibility: visible !important; /* Override the rule above to only show the printables*/
            position: absolute;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin-left: 2vh;
        } 
    }
                  </style>
    
<section >
  <div class="row fixed-top  " style="top: 7rem; margin-left: 15rem;position: fixed; ">
   
  <div style="overflow-y: scroll; height: 600px;">
    <div class="col-md-12"  style="width: 100%;">
      <div class="row">
        
        <div class="col-md-3" style="border-right: 1px solid white;height: 100vh;">
          <div class="row">
            <a class="text-white" style="font-size: 1.5rem;">Sales Order</a>
            <div class="col-md-12">
            <input type="text" id="search" class="form-control bg-light text-dark mt-2 " placeholder="Search.." autocomplete="off">
          </div>
          <div class="col-md-2">
            <div class="dropdown">
              <a class="btn text-center px-4 pt-1 mt-1 btn-outline-warning" id="sortbutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" style="width: 4rem;height: 2rem;">
                <i  class="fas fa-sort m-1"></i>
              </a>
              <div class="dropdown-menu m-1">
                <a class="dropdown-item" href="{% url 'sales_order_det' sale.id %}">All</a>
                <a class="dropdown-item" onclick="sortTable()">Customer Name</a>
                <a class="dropdown-item" onclick="sortTablebal()">Balance</a>
              </div>
            </div>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-4">              
            <a style="width: 4rem;height: 2rem; width: fit-content;" class="btn btn btn-outline-warning text-right px-3 py-2 mt-1" href="{% url 'create_sales_order' %}"><i class="fa fa-plus "></i>New</a>
          </div>
          </div>   
          <table class="table  text-white" id="myTable">
            
            <tbody>
              {% for i in sale_order %}
     
              <tr class="clickable" id="{{i.id}}">
     
                <td class="justify-content-between align-items-center ">
                  {{i.sales_no}}<br><br>
                      <label>{{i.customer.customerName}} </label>
                </td>
                <td><br><br>
                    <label class="text-end d-block">₹{{i.grandtotal}}</label>
                    
                </td>
              </tr>
             
              {% endfor %}
             
            </tbody>
          </table>
       
        </div> 

        <div class="col-md-9 ml-1  mb-5 " id="overviewdiv">
          <div class="row">
              <div class="col-md-7" >
                <a class="text-white" style="font-size: 1.5rem;"><h2>{{sale.sales_no}}</h2></a>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6" >
              <a class="btn" style="background-color: chocolate; margin-right: 2vh;"><i class="fas fa-eye"></i> Overview</a>
              <a class="btn" id="transactionbtn" onclick="totemplate()" style="background-color: white; color: black; margin-right: 2vh;"><i class="fas fa-file-alt"></i>  Template</a>
              {% if sale.status == "draft" %}
              <a href="{% url 'convert_view' sale.id %}" class="btn btn-outline-warning" style="margin-right: 2vh;"><i class="fa fa-exchange" aria-hidden="true"></i>Convert</a>
              {% endif %}
            </div>
              <div class="col-md-6" style="text-align: right;">
                <a href="{% url 'edit_sales_order' sale.id %}"  class=" text-dark" >
                  <button class="btn btn-outline-warning"  title="Edit"><i class="fas fa-edit"></i></button>
                </a>
                <a class="text-dark"   href=""  data-toggle="dropdown"  >
                  <button class="btn btn-outline-warning "  title="Share"><i class="fas fa-share"></i></button>
               </a>
               <div class="dropdown-menu " >
                 <a class="dropdown-item" href="{% url 'emailattachment' %}">GMAIL</a>
                 <a class="dropdown-item" href="#">WhatsApp</a>
               </div>
               <a href="{% url 'delet_sales' sale.id %}" class="  text-dark" >
                <button class="btn btn-outline-warning"  title="Delete"><i class="fas fa-trash-alt"></i></button>
              </a>
              <a class="  text-dark" >
                <button class="btn btn-outline-warning"  title="Pdf" onclick="exportToPDF()"><i class="fas fa-file-pdf-o"></i></button>
              </a>

              <a class=" text-dark" href="" onclick="printSelectedArea(1)"  >
                <button class="btn btn-outline-warning"  title="Print"><i class="fas fa-print"></i>
                </button> 
               </a>
              </div>
          </div><br>
          <div class="row">
            <div class="tab-content pt-2 m-2 mb-5" style="background-color: rgba(252, 236, 217, 0.8); overflow-y: scroll;height: 600px;width: 100%;">
              <div class="tab-pane fade active show" id="overview" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                      <div class="col-md-6" style="box-shadow: 5px 5px 10px rgb(45, 45, 45); background-color: #ffddb0;" >
                          <div class="overview text-dark" style="background-color: #ffddb0;" >
                              <h2 class="text-dark" style="text-transform: uppercase;">Sales Order</h2>
                              
                              <table class="table-responsive saleordertable" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td>Sale Order No</td>
                                    <td>:</td>
                                    <td>{{sale.sales_no}}</td>
                                  </tr>
                                  <tr>
                                    <td>Reference</td>
                                    <td>:</td>
                                    <td>{{sale.reference}}</td>
                                  </tr>
                                  <tr>
                                    <td>Customer Name</td>
                                    <td>:</td>
                                    <td>{{sale.customer.customerName}}</td>
                                  </tr>
                                  <tr>
                                    <td>Customer Mail</td>
                                    <td>:</td>
                                    <td>{{sale.customer.customerEmail}}</td>
                                  </tr>
                                  <tr>
                                    <td>Source of Supply</td>
                                    <td>:</td>
                                    <td>{{sale.sos}}</td>
                                  </tr>
                                  <tr>
                                    <td>Sale Order Date</td>
                                    <td>:</td>
                                    <td>{{sale.sales_date}}</td>
                                  </tr>
                                  <tr>
                                    <td>Expiry Date</td>
                                    <td>:</td>
                                    <td>{{sale.ship_date}}</td>
                                  </tr>
                                  <tr>
                                    <td>Payment Term</td>
                                    <td>:</td>
                                    <td>{{sale.terms.Terms}}</td>
                                  </tr>
                                  <tr>
                                    <td>Payment Method</td>
                                    <td>:</td>
                                    <td>{{sale.pay_method}}</td>
                                  </tr>
                                  {% if sale.pay_method == 'upi' %}
                                  <tr>
                                    <td>UPI ID</td>
                                    <td>:</td>
                                    <td>{{sale.upi_id}}</td>
                                  </tr>
                                  {% elif sale.pay_method == 'cheque' %}
                                  <tr>
                                    <td>Cheque ID</td>
                                    <td>:</td>
                                    <td>{{sale.cheque_id}}</td>
                                  </tr>
                                  {% elif sale.pay_method != 'cash' %}
                                  <tr>
                                    <td>Bank Account</td>
                                    <td>:</td>
                                    <td>{{bank.ac_no}}</td>
                                  </tr>
                                  {% endif %}
                                  <tr>
                                    <td>Subtotal</td>
                                    <td>:</td>
                                    <td>{{sale.subtotal}}</td>
                                  </tr>
                                  {% if sale.igst != '0.00' %}
                                  <tr>
                                    <td>IGST</td>
                                    <td>:</td>
                                    <td>{{sale.igst}}</td>
                                  </tr>
                                  {% endif %}
                                  {% if sale.cgst != '0.00' %}
                                  <tr>
                                    <td>CGST</td>
                                    <td>:</td>
                                    <td>{{sale.cgst}}</td>
                                  </tr>
                                  {% endif %}
                                  {% if sale.sgst != '0.00' %}
                                  <tr>
                                    <td>SGST</td>
                                    <td>:</td>
                                    <td>{{sale.sgst}}</td>
                                  </tr>
                                  {% endif %}
                                  <tr>
                                    <td>Tax Amount</td>
                                    <td>:</td>
                                    <td>{{sale.t_tax}}</td>
                                  </tr>
                                  <tr>
                                    <td>Shipping Charge</td>
                                    <td>:</td>
                                    <td>{{sale.sh_charge}}</td>
                                  </tr>
                                  <tr>
                                    <td>Adjustment</td>
                                    <td>:</td>
                                    <td>{{sale.adjust}}</td>
                                  </tr>
                                  <tr>
                                    <td>Total Amount</td>
                                    <td>:</td>
                                    <td>{{sale.grandtotal}}</td>
                                  </tr>
                                  {% if sale.advance != 0.0 %}
                                  <tr>
                                    <td>Advance</td>
                                    <td>:</td>
                                    <td>{{sale.advance}}</td>
                                  </tr>
                                  <tr>
                                    <td>Balance Amount</td>
                                    <td>:</td>
                                    <td>{{sale.balance}}</td>
                                  </tr>
                                  {% endif %}
                                </tbody>
                              </table> 
                          </div>
                      </div>
                      <div class="col-md-6" style="height: 100%;">
                          <!-- <h2 class="p-2 text-dark mt-4" for=""></h2> -->
                          <div class="card" style="background-color:#8b3131; padding:1rem;">
                              <div class="row">
                                  <div class="card-title h2">PRODUCT INFORMATION
                                  </div>
                                      <table class="table table-responsive" id="producttable">
                                        <tbody>
                                          {% for i in saleitem %}
                                          <tr>
                                            <td>Product Name</td>
                                            <td>:</td>
                                            <td>{{i.product}}</td>
                                          </tr>
                                          <tr>
                                            <td>Product Quantity</td>
                                            <td>:</td>
                                            <td>{{i.quantity}}</td>
                                          </tr>
                                          <tr>
                                            <td>Product Rate</td>
                                            <td>:</td>
                                            <td>{{i.rate}}</td>
                                          </tr>
                                          <tr>
                                            <td>Product Tax</td>
                                            <td>:</td>
                                            <td>{{i.tax}}</td>
                                          </tr>
                                          <tr style="border-bottom: solid; border-bottom-width: thin; ">
                                            <td>Product Total</td>
                                            <td>:</td>
                                            <td>{{i.total}}
                                            </td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                              </div>
                          </div>
                      </div>
                  </div>
                  
              </div>


             
          </div>
          </div>
          
        </div>
        
        <div class="col-md-9 mb-5" id="templatediv" style="display: none;">
          <div class="row" >
            <div class="col-md-7" >
              <a class="text-white" style="font-size: 1.5rem;"><h2>{{sale.sales_no}}</h2></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" >
              <a class="btn" id="overviewbtn" onclick="tooverview()" style="background-color: white; color: black;"><i class="fas fa-eye"></i> Overview</a>
              <a class="btn" style="background-color: chocolate; margin-left: 2vh;"><i class="fas fa-file-alt"></i>  Template</a>
              {% if sale.status == "DRAFT" %}
              <a href="{% url 'convert_view' sale.id %}" class="btn btn-outline-warning" style="margin-left: 2vh;"><i class="fa fa-exchange" aria-hidden="true"></i>Convert</a>
              {% endif %}
            </div>
            <div class="col-md-6" style="text-align: right;">
              <a href="{% url 'edit_sales_order' sale.id %}"  class=" text-dark" >
                <button class="btn btn-outline-warning"  title="Edit"><i class="fas fa-edit"></i></button>
              </a>
              <a class="text-dark"   href=""  data-toggle="dropdown"  >
                <button class="btn btn-outline-warning "  title="Share"><i class="fas fa-share"></i></button>
             </a>
             <div class="dropdown-menu " >
               <a class="dropdown-item" href="{% url 'emailattachment' %}">GMAIL</a>
               <a class="dropdown-item" href="#">WhatsApp</a>
             </div>

             <a href="{% url 'delet_sales' sale.id %}" class="  text-dark" >
              <button class="btn btn-outline-warning"  title="Delete"><i class="fas fa-trash-alt"></i></button>
            </a>
            <a href="{% url 'export_sales_pdf' sale.id %}" class="  text-dark" >
              <button class="btn btn-outline-warning"  title="Pdf"><i class="fas fa-file-pdf-o"></i></button>
            </a>
            <a class=" text-dark"  onclick="printSelectedArea(2)"  >
              <button class="btn btn-outline-warning"  title="Print"><i class="fas fa-print"></i>
              </button> 
             </a>
            </div>
          </div>

          
             


             <div class="mt-4" style="overflow-y: scroll;height: 600px;width: 100%; margin-left: -1vh">
         
               <section id="selected-area" style="background-color: rgb(255, 221, 176);"class=" p-2 m-2">
                   <header style="	background-color: #8b3131;border-radius: 1rem;">
                       <div class="logo ">
                           <img class="ml-2" width="100rem" style="border-radius: 50%;" src="{% static 'images/zlogo.png' %}" alt="Company Logo">
                       </div>
                       <div style="background: #8b3131;color: white;" class="company-info">
                           <h2 class="text-white">{{company.company_name}}</h2>
                           <p class="text-white"> {{company.address}}<br>{{comp.city}}<br>Ph: {{company.contact_number}}<br>Email: {{company.company_email}}</p>
                       </div>
                   </header>
                   <div class="invoice-box">
                       <h1 class="text-dark">SalesOrder</h1>
                       <div class="invoice-header">
                           <div class="invoice-details text-dark">
                             <p class="text-dark">Sales No#: {{sale.sales_no}}</p>
 
                
                               <p class="text-dark">Sales Order Date: {{sale.sales_date}}</p>
                           </div>
                           <div class="client-details">
                               <p class="text-dark">Client Name: {{sale.customer.customerName}}</p>
                               <p class="text-dark">Address: {{sale.customer.Address1}}<br>{{sale.customer.Address2}}</p>
                           </div>
                       </div>
                       <table>
                           <thead>
                               <tr>
                                 
                                 <th id="th">Product</th>
                                   <th id="th">Quantity</th>
                                   <th id="th">Price</th>
                                   <th id="th">Tax %</th>
                                   <th id="th"> Total</th>
                               </tr>
                           </thead>
                           <tbody>
                             {% for i in saleitem %}
                             <tr style="color: black;">
                               <td>{{i.product}}</td>
                               <td>{{i.quantity}}</td>
                               <td>{{i.rate}}</td>
                               <td>{{i.tax}}</td>
                               <td>{{i.total}}</td>
                             </tr>
                             {% endfor %}
 
                         </tbody>
                       </table>
                       
                       <div class="invoice-total">
                           <p class="text-dark ">Subtotal: <b>{{sale.subtotal}}</b></p>
                           {% if sale.igst != '0.00' %}
                           <p class="text-dark ">IGST: <span class="ml-4"></span><b>{{sale.igst}}</b></p>
                           {% else %}
                           <p class="text-dark">SGST: <span class="ml-4"></span> <b>{{sale.sgst}}</p></b>
                           <p class="text-dark">CGST: <span class="ml-4"></span><b>{{sale.cgst}}</p></b>
                           {% endif %}
                           <p class="text-dark">Tax Amount: <span class="ml-4"></span> <b>{{sale.t_tax}}</b></p>
                           <p class="text-dark">Shipping Charge: <span class="ml-4"></span> <b>{{sale.sh_charge}}</b></p>
                           <p class="text-dark">Total: <span class="ml-4"></span> <b>{{sale.grandtotal}}</b></p>
                           {% if sale.advance != 0.0 %}
                           <p class="text-dark">Advance: <span class="ml-4"></span> <b>{{sale.advance}}</b></p>
                           <p class="text-dark">Balance: <span class="ml-4"></span> <b>{{sale.balance}}</b></p>
                           {% endif %}
                       </div>
                      
                   </div>
 
                   <footer class="mb-5">
                       <p class="text-dark">&copy; Zho Books 2023 | Info park kakkanad kochi, Ernamkulam, kerala India 12345 | Phone: (123) 456-7890 | Email: info@zohodjango.com</p>
                   </footer>
                   <div class="mt-5 mb-5">
       
                   </div>
                  </section>
 
       
 
            </div>
 
 
               </div>
               
          </div>
          
                
        </div>
     
        </div>
     
       </div>
  </div>
 
   </div>
  
 


  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</section>

<script>
  function printSelectedArea(area){
    if(area==1){
      var printContents = document.getElementById("overview").innerHTML;

var $printerDiv = $('<div class="printContainer"></div>'); // create the div that will contain the stuff to be printed
$printerDiv.html(printContents); // add the content to be printed
$('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)

window.print(); // call print
$printerDiv.remove(); // remove the div
$('body').removeClass("printingContent");
    }
    if(area==2){
      var printContents = document.getElementById("selected-area").innerHTML;
      document.getElementById("selected-area").style.backgroundColor = "white"
var $printerDiv = $('<div class="printContainer bg-white"></div>'); // create the div that will contain the stuff to be printed
$printerDiv.html(printContents); // add the content to be printed
$('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)

window.print(); // call print
$printerDiv.remove(); // remove the div
$('body').removeClass("printingContent");
      
    }
  }
</script>

<script>
      function exportToPDF(){
        var content = document.getElementById('overview');
        html2pdf()
        .from(content)
        .save('sales_order.pdf')
    }
</script>

<script>

const rows = document.querySelectorAll('.clickable');

rows.forEach(row => {
    row.addEventListener('click', () => {
      var currentURL = window.location.href
      const rowId = row.id;
      var newURL = currentURL.replace(/\d+$/, rowId);
      window.location.href = newURL;
    });
});





</script>

<script>
  function totemplate(){
    document.getElementById('templatediv').style.display = 'block'
    document.getElementById('overviewdiv').style.display = 'none'
  }

  function tooverview(){
    document.getElementById('templatediv').style.display = 'none'
    document.getElementById('overviewdiv').style.display = 'block'
  }
</script>

<script>
  var $rows = $('#myTable tbody tr');
  $('#search').keyup(function() {
      var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
      
      $rows.hide().filter(function() {
          var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
          return ~text.indexOf(val);
      }).show();
  });

  </script>

<script>
  // Function to sort the table by the selected column
  function sortTable() {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("myTable");
      switching = true;

      while (switching) {
          switching = false;
          rows = table.rows;

          for (i = 0; i < rows.length - 1; i++) {
              shouldSwitch = false;
              x = rows[i].getElementsByTagName("label")[0];
              y = rows[i + 1].getElementsByTagName("label")[0];

              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  shouldSwitch = true;
                  break;
              }
          }

          if (shouldSwitch) {
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
          }
      }
  }
  function sortTablebal() {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("myTable");
      switching = true;

      while (switching) {
        switching = false;
        rows = table.rows;

        for (i = 0; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = parseFloat(rows[i].getElementsByTagName("td")[1].textContent.replace('₹', '').trim());
            y = parseFloat(rows[i + 1].getElementsByTagName("td")[1].textContent.replace('₹', '').trim());

            if (x > y) {
                shouldSwitch = true;
                break;
            }
        }

        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }
  }

</script>

{% endblock %}
