<!DOCTYPE html>
<html>
<head>
  <script>
    function toggleDiv() {
      var div = document.getElementById('myDiv');
      var checkbox = document.getElementById('myCheckbox');
      
      if (checkbox.checked) {
        div.style.display = 'block';
      } else {
        div.style.display = 'none';
      }
    }
  </script>
</head>
<body>
  <input type="checkbox" id="myCheckbox" onclick="toggleDiv()"> Show/Hide Div
  <div id="myDiv" style="display: none;">
    This is the content of the div.
  </div>
</body>
</html>
